In [1]:
import pandas as pd
import numpy as np

In [3]:
genes = pd.read_csv("nabec_5cell_genes.csv")
annotations = pd.read_csv("/labseq/projects/ppmi/wb_rna/gencode.v29.transcripts.txt.gz", sep = "\t")
gene_ids = annotations['gene_id'].tolist()

In [ ]:
annotations2 = pd.read_csv("/labshare/anni/from_local/gencode.v29lift37.annotation.gtf", sep = "\t")

In [44]:
annotations.head()
annotations[annotations['gene_id'].str.contains("OLIG")==True]

Empty DataFrame
Columns: [seqid, source, type, start, end, score, strand, phase, gene_id, gene_type, gene_name, level, havana_gene, transcript_id, transcript_type, transcript_name, transcript_support_level, tag, havana_transcript, exon_number, exon_id, ont, protein_id, ccdsid]
Index: []

[0 rows x 24 columns]

In [40]:

genes1 = genes['X1'].tolist()
gene1_df_names = annotations.loc[annotations['gene_id'].isin(genes1)]
gene1_final = gene1_df_names[['gene_id','transcript_name']]
gene1_final = gene1_final.drop_duplicates(subset ='gene_id')
gene1_final.shape
gene1CD = gene1_final[gene1_final['transcript_name'].str.contains("OL")==True]
gene1CD

Empty DataFrame
Columns: [gene_id, transcript_name]
Index: []

In [10]:
genes2 = genes['X2'].tolist()
gene2_df_names = annotations.loc[annotations['gene_id'].isin(genes2)]
gene2_final = gene2_df_names[['gene_id','transcript_name']]
gene2_final = gene2_final.drop_duplicates(subset ='gene_id')
#gene2_final.head(n=30)
gene2CD = gene2_final[gene2_final['transcript_name'].str.contains("CD")==True]
gene2CD

Empty DataFrame
Columns: [gene_id, transcript_name]
Index: []

In [11]:
genes3 = genes['X3'].tolist()
gene3_df_names = annotations.loc[annotations['gene_id'].isin(genes3)]
gene3_final = gene3_df_names[['gene_id','transcript_name']]
gene3_final = gene3_final.drop_duplicates(subset ='gene_id')
#gene3_final.head(n=30)
gene3CD = gene3_final[gene3_final['transcript_name'].str.contains("CD")==True]
gene3CD

Empty DataFrame
Columns: [gene_id, transcript_name]
Index: []

In [6]:
genes4 = genes['X4'].tolist()
gene4_df_names = annotations.loc[annotations['gene_id'].isin(genes4)]
gene4_final = gene4_df_names[['gene_id','transcript_name']]
gene4_final = gene4_final.drop_duplicates(subset ='gene_id')
#gene4_final.head(n=30)
gene4CD = gene4_final[gene4_final['transcript_name'].str.contains("CD")==True]
gene4CD

                   gene_id transcript_name
119780  ENSG00000111731.12       C2CD5-201

In [7]:
genes5 = genes['X5'].tolist()
gene5_df_names = annotations.loc[annotations['gene_id'].isin(genes5)]
gene5_final = gene5_df_names[['gene_id','transcript_name']]
gene5_final = gene5_final.drop_duplicates(subset ='gene_id')
#gene5_final.head(n=30)
gene5CD = gene5_final[gene5_final['transcript_name'].str.contains("CD")==True]
gene5CD

                   gene_id transcript_name
54085    ENSG00000164366.3     CCDC127-201
56833   ENSG00000049883.14       PTCD2-211
170655  ENSG00000176155.18      CCDC57-219

In [ ]:
# genes6 = genes['X6'].tolist()
# gene6_df_names = annotations.loc[annotations['gene_id'].isin(genes6)]
# gene6_final = gene6_df_names[['gene_id','transcript_name']]
# gene6_final = gene6_final.drop_duplicates(subset ='gene_id')
# #gene6_final.head(n=30)
# gene6CD = gene6_final[gene6_final['transcript_name'].str.contains("CD")==True]
# gene6CD

In [25]:
genes = pd.read_csv("GSE20300_5cell_genes.csv")
annotations = pd.read_csv("/labseq/projects/ppmi/wb_rna/gencode.v29.transcripts.txt.gz", sep = "\t")

genes1 = genes[['X1']]
gene1CD = genes1[genes1['X1'].str.contains("CD")==True]
gene1CD

       X1
0   CD200
9    CD19
33  CD79A
35   CD22
37  CD79B
42   CD72

In [34]:
genes2 = genes[['X2']]
gene2CD = genes2[genes2['X2'].str.contains("HLA")==True]
gene2CD

Empty DataFrame
Columns: [X2]
Index: []

In [27]:
genes3 = genes[['X3']]
gene3CD = genes3[genes3['X3'].str.contains("CD")==True]
gene3CD

        X3
2     CD3D
8     CD3G
12    CD96
16  CD40LG
17   ABCD2
18    CD28
28    CD3E
31    CD69
34    CD8A
40     CD2
62  CCDC66
91    CD48
98     CD6

In [38]:
genes4 = genes[['X4']]
gene4CD = genes4[genes4['X4'].str.contains("CT")==True]
gene4CD

Empty DataFrame
Columns: [X4]
Index: []

In [30]:
genes5 = genes[['X5']]
gene5CD = genes5[genes5['X5'].str.contains("HLA")==True]
gene5CD

Empty DataFrame
Columns: [X5]
Index: []